form {
    padding: 1.5rem;
}
div {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    div {
        flex-direction: column;
        input {
            margin: 5px 0px;
        }
    }
}

.stats,
.partype,
.etiquetas {
    flex-direction: column;
    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

input {
    background: white;
    color: black;
    border: none;
    border-bottom: 0.1px solid rgb(41, 41, 41);

    &:focus {
        border-bottom: 0.1px solid rgb(41, 41, 41);
        outline: none;
    }
    &:active {
        border-bottom: 0.1px solid rgb(41, 41, 41);
        outline: none;
    }
}

textarea {
    background-color: white;
    color: black;
    border: none;
    border-bottom: 0.1px solid black;
    &:focus {
        border-bottom: 0.1px solid rgb(41, 41, 41);
        outline: none;
    }
    &:active {
        border-bottom: 0.1px solid rgb(41, 41, 41);
        outline: none;
    }
}
